<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./stylesheets/team-page/main.css">
  <link rel="stylesheet" href="./stylesheets/team-page/texts/main-text.css">
  <link rel="stylesheet" href="./stylesheets/buttons/home-buttons.css">
  <img src = "" />
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<!--<div class="container-fluid bg-3 text-center">
    <div class="header-text-pg-team">
        <h1>GRUFY TEAM</h1><br>
        
</div>
    </div>-->
    
    <!--<div class="">
        <div><h1 class="Header-team-2">Grufy Team</h1></div>
    </div>

        <div class="container-fluid"><img src="/images/team/vishal.png" alt="" class="team-images">
    <p class="text-p"><h1>Vishal</h1> Hello There My-self vishal i am a Developer working with tons of ideas, a verified ✅ Discord bot developer, a web developer etc wanna know more about me? Head to discord or contact me from the contact page</p><br>
  
        </div>
        
    </div>-->
<div>
    <h1 class="h1">GRUFY-TEAM</h1>
</div><br><br>
<section>
    <h3 class = "header-p">Vishal_Codez</h3>
<div class="team-imgs-right-">
    <p class=""><img src="/images/team/vishal.png" alt="" class="team-pics"></p>
</div>
<div class="text-bio">
    
    <h3>Vishal</h3><p class="text-bio-2"> <br>Hello There My-self vishal i am a Developer working with tons of ideas, a verified ✅ Discord bot developer, a web developer etc wanna know more about me? Head to discord or contact me from the contact page</p>
</div></section><br><br><br>

<section>
    <h3 class = "header-p">Tamish</h3>
<div class="team-imgs-left-">
    <p class=""><img src="/images/team/Tamish.png" alt="" class="team-pics"></p>
</div>
<div class="text-bio" style="color: #EFCFC8;">
    
    <h3>Tamish</h3><p class="text-bio-2"> <br>Hello There My-self Tamish i am a Developer, Owner and a part of Team GRUFY, Owner of many community Servers in discord wanna know more about me? Head to discord GRUFY Support page You Can Find Me There</p>
</div></section><br><br><br><br>


</body>
<% include partials/script %>
<% include partials/footer %>
</html>