<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./stylesheets/images.css">
  <link rel="stylesheet" href="./stylesheets/texts/home-text.css">
  <link rel="stylesheet" href="./stylesheets/buttons/home-buttons.css">
  <img src = "" />
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">
  <div class="col-sm-4">
    <p class="home-text">Grufy Is A Discord 24/7 Free Music Bot Providing High Quality Music To Servers</p><br>
    <p class="dis-home-text">Hey What's Up Music Lovers 🎵 Grufy The Discord Bot is a powerful music bot playing songs on discord at a 0 cost and having featured with tons of commands and configuration features in it a 24/7 Ready to play? with Grufy at high quality music</p>
  <br>
  <button class="home-btn-invite"><a href="https://discord.com/oauth2/authorize?client_id=958024016097071104&permissions=243000535536&scope=bot%20applications.commands" class="a_a">Invite</a></button>    <button class="home-btn-support">Get Support</button>
  
  
  </div>
  <!--<h3><%= page %></h3><br>-->
  <div class="row">
    <img src="/images/Bot-Images/Grufy.jpg" alt="Grufy-Image" class="images" id="#Image"> <br>
    
    <!--<div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>--
    <div class="col-sm-4">
      <p>Grufy Is A Discord 24/7 Free Music Bot Providing High Quality Music To Servers</p>
    </div>-->
  </div>
</div>

</body>
<% include partials/script %>
</html>