.home-text{
    background: ;
    color: white;
    font-weight: 600;
    font-family: ;
    font-style: italic;
}

.dis-home-text{
    color: whitesmoke;
    font-size: medium;
    font-style: normal;
    
}